{{>layouts/header}}

{{#article}}

<form class="container" method="post" action="/articles/update">
<!--  form method patch가 아닌 post 일단 사용. form 태그가 get과 post만 지원하기 때문.(옛날 규격)  -->
    <input name="id" type="hidden" value="{{id}}"/>
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles/{{id}}">Back</a>
</form>

{{/article}}

{{>layouts/footer}}